body {
    margin: 0px;

    background-color: #1f2937;
    color: white;

    font-family: 'Inclusive Sans', sans-serif;
    font-display: block;
    text-align: center;
}

button {
    font-family: 'Inclusive Sans', sans-serif;
    font-display: block;
    cursor: pointer;
}

a {
    color: #6699ff !important;
}

.basic_fadein {
    animation: basic_fadein_anim 0.2s ease forwards;
}

.basic_fadeout {
    animation: basic_fadeout_anim 0.2s ease forwards;
}

.popup_fadein {
    animation: popup_fadein_anim 0.2s ease forwards;
}

.popup_fadeout {
    animation: popup_fadeout_anim 0.2s ease forwards;
}

@keyframes basic_fadein_anim {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes basic_fadeout_anim {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes popup_fadein_anim {
    0% {
        opacity: 0;
        transform: translateY(75%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes popup_fadeout_anim {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(75%);
    }
}

/* LOADING DIV */ /* LOADING DIV */ /* LOADING DIV */ /* LOADING DIV */ /* LOADING DIV */ /* LOADING DIV */ /* LOADING DIV */ /* LOADING DIV */
/* LOADING DIV */ /* LOADING DIV */ /* LOADING DIV */ /* LOADING DIV */ /* LOADING DIV */ /* LOADING DIV */ /* LOADING DIV */ /* LOADING DIV */
/* LOADING DIV */ /* LOADING DIV */ /* LOADING DIV */ /* LOADING DIV */ /* LOADING DIV */ /* LOADING DIV */ /* LOADING DIV */ /* LOADING DIV */
/* LOADING DIV */ /* LOADING DIV */ /* LOADING DIV */ /* LOADING DIV */ /* LOADING DIV */ /* LOADING DIV */ /* LOADING DIV */ /* LOADING DIV */
/* LOADING DIV */ /* LOADING DIV */ /* LOADING DIV */ /* LOADING DIV */ /* LOADING DIV */ /* LOADING DIV */ /* LOADING DIV */ /* LOADING DIV */

#loading_div {
    width: 100vw;
    height: 100vh;

    position: absolute;
    left: 0px;
    top: 0px;

    z-index: 2000;

    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ld_svg_wrapper {
    position: relative;

    width: 150px;
    height: 150px;

    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ld_loader {
    position: absolute;

    width: 120px;
    height: 120px;
    
    border: 4px solid #00000000;
    border-radius: 50%;
    border-top: 4px solid #3498db;

    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#ld_loader.error {
    border: 4px solid red;
    border-radius: 50%;
    
    animation: none;
}

#ld_svg {
    position: absolute;

    width: 100px;
    height: 100px;
}

#ld_initial {
    width: 80vw;

    font-size: 16px;
}

#ld_initial_title {
    font-size: 24px;
}

#ld_error {
    width: 80vw;

    font-size: 16px;

    display: none;
}

#ld_error_title {
    font-size: 24px;
}

.ld_error_btn {
    width: 300px;
    height: 50px;

    font-family: 'Inclusive Sans', sans-serif;
    font-display: block;
    text-align: center;

    font-size: 20px;

    border: none;
    border-radius: 5px;
    
    outline: 0px solid white;
    color: white;

    transition: background-color 0.2s, outline 0.2s;
}

#ld_error_retry {
    margin-top: 100px;
    background-color: #3366ff;
    transition: background-color 0.2s, outline 0.2s;
}

#ld_error_retry:hover {
    background-color: #4c80ff;
    transition: background-color 0.2s, outline 0.2s;
}

#ld_error_retry:active {
    outline: 2px solid white;
    transition: background-color 0.2s, outline 0.2s;
}

#ld_error_proceed {
    margin-top: 20px;
    background-color: #ff5050;
}

#ld_error_proceed:hover {
    background-color: #ff6969;
}

#ld_error_proceed:active {
    outline: 2px solid white;
    transition: background-color 0.2s, outline 0.2s;
}

#ld_mobile {
    width: 80vw;

    font-size: 16px;

    display: none;
}

#ld_mobile_title {
    font-size: 24px;
}

#ld_mobile_proceed {
    margin-top: 50px;
    background-color: #ff5050;
}

#ld_mobile_proceed:hover {
    background-color: #ff6969;
}

#ld_mobile_proceed:active {
    outline: 2px solid white;
    transition: background-color 0.2s, outline 0.2s;
}

#version_div {
    width: 100vw;
    height: 100vh;
    
    position: absolute;
    left: 0px;
    top: 0px;

    color: gray;
    font-size: 14px;
    z-index: -1;
}

/* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */
/* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */
/* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */
/* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */
/* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */

#mainmenu_div {
    width: 100vw;
    height: 100vh;

    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mainmenu_logo {
    width: 900px;
    height: 200px;
    
    object-fit: cover;
}

#mainmenu_subtitle {
    font-size: 26px;

    margin-top: 50px;
}

#mainmenu_btn_div {
    margin-top: 20px;
}

.mainmenu_btn {
    width: 220px;
    height: 170px;
    margin-right: 30px;
    margin-top: 0px;
    
    background-color: #111827;

    border: none;
    outline: 0px solid white;
    border-radius: 20px;

    color: white;
    font-size: 20px;
    font-weight: bold;

    transition: background-color 0.2s, outline 0.2s;
}

.mainmenu_btn:hover {
    background-color:#212836;

    transition: background-color 0.2s, outline 0.2s;
}

.mainmenu_btn:active {
    outline: white 2px solid;

    transition: background-color 0.2s, outline 0.2s;
}

.mainmenu_btn:disabled {
    cursor: not-allowed;
    background-color: rgba(50, 57, 70, 0.5) !important;
    color: rgba(255, 255, 255, 0.5);
    outline: none;
    transition: background-color 0.2s, outline 0.2s;
}

.mainmenu_btn:disabled:hover {
    cursor: not-allowed;
    background-color: rgba(50, 57, 70, 0.5) !important;
    outline: none;
    transition: background-color 0.2s, outline 0.2s;
}

.mainmenu_btn:last-child {
    margin-right: 0px !important;
}

.mm_btn_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mm_svg {
    width: 90px;
    height: 90px;

    margin-bottom: 15px;
}

#mainmenu_btn_continue {
    background-color: #33cc33;
}

#mainmenu_btn_continue:hover {
    background-color: #55cc55;
}

#mainmenu_btn_new {
    background-color: #3366ff;
}

#mainmenu_btn_new:hover {
    background-color: #4c80ff;
}

#mainmenu_btn_settings {
    background-color: #9933ff
}

#mainmenu_btn_settings:hover {
    background-color: #9966ff;
}

#mainmenu_btn_stats {
    background-color: #ff66ff;
}

#mainmenu_btn_stats:hover {
    background-color: #ff99ff;
}

#mainmenu_btn_contribute {
    background-color: #ff5050;
}

#mainmenu_btn_contribute:hover {
    background-color: #ff6969;
}

/* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */
/* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */
/* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */
/* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */
/* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */

#mainmenu_newsession_wrapper {
    background-color: #00000044;

    position: fixed;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    border: none;

    z-index: 1002;
}

#mainmenu_newsession_div {
    width: 60vw;
    height: 80vh;

    background-color: #111827;

    border: gray 1px solid;
    border-radius: 20px;

    color: white;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;

    position: relative;

    display: flex;
    flex-direction: column; /* Arrange children vertically */
    justify-content: flex-start; /* Start from the top */
    box-sizing: border-box; /* Include padding in height */
}

#mmns_title {
    font-size: 30px;
    font-weight: bold;
}

#mmns_subject_div {
    display: flex;
    align-items: center;
    margin-top: -20px;
}

#mmns_subject_text {
    font-size: 20px;
}

#mmns_subject_dropdown {
    margin-left: 10px;
    
    width: 300px;
    height: 40px;

    border: 1px solid gray;
    border-radius: 10px;
    background-color: #1f2937;
    color: white;
    padding-left: 10px;

    font-size: 16px;
}

#mmns_cancel_btn {
    width: 220px;
    height: 40px;

    border: none;
    border-radius: 10px;
    background-color: #ff5050;

    color: white;
    font-size: 20px;

    position: absolute;
    top: 20px;
    right: 20px;

    transition: background-color 0.2s;
}

#mmns_cancel_btn:hover {
    background-color: #ff6969;
    transition: background-color 0.2s;
}

#mmns_cancel_btn:disabled {
    cursor: not-allowed;
    background-color: rgba(50, 57, 70, 0.5);
    color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.2s;
}

#mmns_create_btn {
    width: 220px;
    height: 40px;

    border: none;
    border-radius: 10px;
    background-color: #3366ff;

    color: white;
    font-size: 20px;

    position: absolute;
    top: 70px;
    right: 20px;

    transition: background-color 0.2s;
}

#mmns_create_btn:hover {
    background-color: #4c80ff;
    transition: background-color 0.2s;
}

#mmns_create_btn:disabled {
    cursor: not-allowed;
    background-color: rgba(50, 57, 70, 0.5);
    color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.2s;
}

#mmns_num_questions {
    width: 220px;
    text-align: center;

    position: absolute;
    top: 105px;
    right: 20px;

    color: gray;
    font-size: 14px;
}

#mmns_sep {
    color: gray;
    margin-top: 20px;

    width: 100%;
}

#mmns_ts_title {
    margin-top: 10px;
    color: gray;
    font-size: 24px;
    font-weight: bold;

    transition: color 0.2s;
}

#mmns_ts_subtitle {
    margin-top: -15px;
    color: gray;
    font-size: 16px;
    font-style: italic;

    transition: color 0.2s;
}

#mmns_topic_select_div {
    flex-grow: 1;
    margin-bottom: 30px;
    overflow-x: hidden;
    overflow-y: scroll;

    position: relative;
}

.mmns_ts_preset {
    width: 100%;
    height: 30px;

    display: flex;
    justify-content: left;
    align-items: center;
}

.mmns_ts_dropdown_btn {
    width: 24px;
    height: 24px;

    border: none;
    border-radius: 5px;

    background-color: #1f2937;

    color: white;
    font-size: 16px;

    transition: background-color 0.2s;
}

.mmns_ts_dropdown_btn:hover {
    background-color: #373e4b;

    transition: background-color 0.2s;
}

.mmns_ts_preset_name {
    font-size: 18px;
    margin-left: 10px;

    color: gray;

    transition: color 0.2s;
}

.mmns_ts_sall_btn {
    height: 25px;

    border: none;
    border-radius: 5px;
    background-color: #1f2937;
    color: white;
    font-size: 14px;

    transition: background-color 0.2s;

    position: absolute;
    right: 120px;

    width: 100px;
}

.mmns_ts_sall_btn:hover {
    background-color: #373e4b;

    transition: background-color 0.2s;
}

.mmns_ts_sall_btn.active {
    background-color: #3366ff;
    color: white;

    transition: background-color 0.2s;
}

.mmns_ts_sall_btn.active:hover {
    background-color: #6699ff;

    transition: background-color 0.2s;
}

.mmns_ts_preset_count {
    position: absolute;
    right: 10px;
    width: 100px;

    color: gray;
    font-size: 14px;

    transition: color 0.2s;
}

.mmns_ts_topics {
    width: 100%;

    margin-top: 10px;
    margin-left: 15px;

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.mmns_ts_topic_div {
    display: flex;
    justify-content: left;
    align-items: center;
    
    margin-bottom: 10px;
}

.mmns_ts_topic_btn {
    width: 24px;
    height: 24px;

    border: 1px solid gray;
    border-radius: 5px;
    background-color: #1f2937;

    transition: background-color 0.2s, border 0.2s;
}

.mmns_ts_topic_btn:hover {
    background-color: #373e4b;

    transition: background-color 0.2s, border 0.2s;
}

.mmns_ts_topic_btn.active {
    border: 1px solid #cccccc;
    background-color: #3366ff;

    transition: background-color 0.2s, border 0.2s;
}

.mmns_ts_topic_btn.active:hover {
    background-color: #6699ff;

    transition: background-color 0.2s, border 0.2s;
}

.mmns_ts_topic_desc {
    font-size: 16px;
    color: gray;

    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;

    transition: color 0.2s;
}

/* SETTINGS */ /* SETTINGS */ /* SETTINGS */ /* SETTINGS */ /* SETTINGS */ /* SETTINGS */ /* SETTINGS */ /* SETTINGS */ /* SETTINGS */ /* SETTINGS */
/* SETTINGS */ /* SETTINGS */ /* SETTINGS */ /* SETTINGS */ /* SETTINGS */ /* SETTINGS */ /* SETTINGS */ /* SETTINGS */ /* SETTINGS */ /* SETTINGS */
/* SETTINGS */ /* SETTINGS */ /* SETTINGS */ /* SETTINGS */ /* SETTINGS */ /* SETTINGS */ /* SETTINGS */ /* SETTINGS */ /* SETTINGS */ /* SETTINGS */

#settings_wrapper {
    background-color: #00000044;

    position: fixed;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    border: none;

    z-index: 1002;
}

#settings_div {
    width: 60vw;
    height: 80vh;

    background-color: #111827;

    border: gray 1px solid;
    border-radius: 20px;

    color: white;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;

    position: relative;
}

#settings_title {
    font-size: 30px;
}

#settings_close_btn {
    width: 50px;
    height: 50px;

    border: none;
    border-radius: 10px;
    
    background-color: #111827;

    transition: color 0.2s, background-color 0.2s;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 15px;

    color: white;

    position: absolute;
    top: 10px;
    right: 10px;
}

#settings_close_btn:hover {
    background-color: #373e4b;

    transition: color 0.2s, background-color 0.2s;
}

#settings_close_btn:disabled {
    background-color: #242B39;
    cursor: not-allowed;

    transition: color 0.2s, background-color 0.2s;
}

#settings_close_svg {
    color: white; 

    width: 50px;
    height: 50px;

    transition: color 0.2s;
}

#settings_close_btn:active #settings_close_svg {
    color: #ffffffaa;

    transition: color 0.2s;
}

#settings_close_btn:disabled #settings_close_svg {
    color: rgba(255, 255, 255, 0.3);

    transition: color 0.2s, background-color 0.2s;
}

#settings_content_div {
    width: 100%;
    margin-top: 20px;
    height: calc(80vh - 150px);

    overflow-y: scroll;
    overflow-x: hidden;
}

.settings_op {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings_op_info {
    width: 100%;
}

.settings_op_title {
    font-size: 18px;
}

.settings_op_subtitle {
    margin-top: -10px;

    font-size: 14px;
    font-style: italic;

    color: gray;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
} 

/* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */
/* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */
/* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */
/* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */
/* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */

#session_div {
    width: 100vw;
    height: 100vh;

    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#session_corner_div {
    position: absolute;
    top: 20px;
    right: 20px;

    width: 50px;

    height: 0px;
}

.session_corner_btn {
    width: 50px;
    height: 50px;

    border: none;
    border-radius: 10px;
    
    background-color: #111827;

    transition: color 0.2s, background-color 0.2s;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 15px;

    color: white;
}

.session_corner_btn:hover {
    background-color: #373e4b;

    transition: color 0.2s, background-color 0.2s;
}

.session_corner_btn:disabled {
    background-color: #242B39;
    cursor: not-allowed;

    transition: color 0.2s, background-color 0.2s;
}

.session_svg {
    color: white; 

    width: 50px;
    height: 50px;

    transition: color 0.2s;
}

.session_corner_btn:active .session_svg {
    color: #ffffffaa;

    transition: color 0.2s;
}

.session_corner_btn:disabled .session_svg {
    color: rgba(255, 255, 255, 0.3);

    transition: color 0.2s, background-color 0.2s;
}


/* SESSION CONTENT */ /* SESSION CONTENT */ /* SESSION CONTENT */ /* SESSION CONTENT */ /* SESSION CONTENT */ /* SESSION CONTENT */ /* SESSION CONTENT */
/* SESSION CONTENT */ /* SESSION CONTENT */ /* SESSION CONTENT */ /* SESSION CONTENT */ /* SESSION CONTENT */ /* SESSION CONTENT */ /* SESSION CONTENT */
/* SESSION CONTENT */ /* SESSION CONTENT */ /* SESSION CONTENT */ /* SESSION CONTENT */ /* SESSION CONTENT */ /* SESSION CONTENT */ /* SESSION CONTENT */
/* SESSION CONTENT */ /* SESSION CONTENT */ /* SESSION CONTENT */ /* SESSION CONTENT */ /* SESSION CONTENT */ /* SESSION CONTENT */ /* SESSION CONTENT */
/* SESSION CONTENT */ /* SESSION CONTENT */ /* SESSION CONTENT */ /* SESSION CONTENT */ /* SESSION CONTENT */ /* SESSION CONTENT */ /* SESSION CONTENT */

#session_content_div {
    width: 100vw;

    display: flex;
    justify-content: center;
}

#session_content_question_div {
    width: 600px;

    background-color: #111827;

    border: gray 1px solid;
    border-radius: 20px;

    text-align: left;
    padding: 40px;

    position: relative;
}

#scq_qnum {
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
}

#scq_qtype {
    color: gray;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}

#scq_qspacer {
    height: 20px;
    width: 0px;
}

#scq_qdesc {
    color: white;
    font-size: 16px;
    margin-top: 30px;
}

.scq_feedback {
    display: flex;
    align-items: center;
    font-size: 16px;

    height: 25px;

    margin-top: 10px;
}

.scq_feedback_svg {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.scq_feedback.correct {
    color: #33cc33;
}

.scq_feedback.skipped {
    color: #4c80ff;
}

.scq_feedback.incorrect {
    color: #c10000;
}

.scq_submit_btn {
    width: 45px;
    height: 45px;

    position: absolute;
    top: 0px;
    right: 0px;

    border: none;
    border-radius: 10px;

    background-color: #3366ff;

    transition: background-color 0.2s;
}

.scq_submit_btn_svg {
    width: 25px;
    height: 25px;
    color: white;

    transition: background-color 0.2s;
}

.scq_submit_btn:disabled {
    cursor: not-allowed; 
    color:rgba(255, 255, 255, 0.5);
    background-color: rgba(50, 57, 70, 0.5);

    transition: background-color 0.2s;
}

.scq_submit_btn:disabled .scq_submit_btn_svg {
    color: rgba(255, 255, 255, 0.5);

    transition: color 0.2s, background-color 0.2s;
}

.scq_submit_btn:focus {
    background-color: #4c80ff;
    outline: none;

    transition: background-color 0.2s;
}

.scq_submit_btn:hover {
    background-color: #4c80ff;
    outline: none;

    transition: background-color 0.2s;
}

.scq_submit_btn:disabled:focus {
    background-color: rgba(50, 57, 70, 0.5);

    transition: background-color 0.2s;
}

.scq_submit_btn:disabled:hover {
    background-color: rgba(50, 57, 70, 0.5);

    transition: background-color 0.2s;
}

#scq_skip_btn {
    width: 50px;
    height: 50px;

    position: absolute;
    top: 10px;
    right: 10px;

    border: none;
    border-radius: 10px;

    background-color: #111827;

    transition: color 0.2s, background-color 0.2s;
}

#scq_skip_btn:hover {
    background-color: #373e4b;

    transition: color 0.2s, background-color 0.2s;
}

#scq_skip_btn:disabled {
    background-color: #242B39;
    cursor: not-allowed;

    transition: color 0.2s, background-color 0.2s;
}

#scq_skip_btn_svg {
    width: 35px;
    height: 35px;
    color: white;

    transition: color 0.2s, background-color 0.2s;
}

#scq_skip_btn:disabled #scq_skip_btn_svg {
    color: rgba(255, 255, 255, 0.5);

    transition: color 0.2s, background-color 0.2s;
}

/* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */
/* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */
/* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */
/* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */
/* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */

#scq_sa_div {
    width: 100%;
    height: 90px;

    position: relative;
}

#scq_sa_input {
    width: calc(100% - 60px);
    height: 45px;
    box-sizing: border-box;

    outline: 1px solid gray;
    border: none;
    border-radius: 10px;

    background-color: #1f2937;

    color: white;
    font-family: 'Inclusive Sans', sans-serif;
    font-display: block;
    font-size: 16px;

    padding-left: 10px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;

    position: absolute;
    top: 0px;
    left: 0px;

    transition: outline 0.2s;
}

#scq_sa_input:focus {
    outline: 1px solid white;
    box-shadow: none;

    padding-left: 10px;
    transition: outline 0.2s;
}

#scq_sa_input:disabled {
    background-color: #212836;
    color: #8e9299;
    cursor: not-allowed;
}

#scq_sa_input.correct {
    outline: 2px solid #33cc33;
    transition: outline 0.2s;
}

#scq_sa_input.incorrect {
    outline: 2px solid #c10000;
    transition: outline 0.2s;
}

#scq_sa_input.skipped {
    outline: 2px solid #3366ff;
    transition: outline 0.2s;
}

#scq_sa_feedback {
    position: absolute;
    top: 45px;
}

/* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */
/* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */
/* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */
/* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */
/* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */

#scq_mcq_div {
    width: 100%;

    position: relative;
}

#scq_mcq_options {
    margin-bottom: 10px;
}

.scq_mcq {
    width: 100%;

    box-sizing: border-box;

    outline: 1px solid gray;
    border: none;
    border-radius: 10px;

    background-color: #1f2937;

    color: white;
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 16px;

    text-align: left;

    display: flex;
    align-items: center;

    margin-bottom: 10px;

    transition: outline 0.2s, background-color 0.2s;
}

.scq_mcq:hover {
    background-color: #373e4b;
    transition: outline 0.2s, background-color 0.2s;
}

.scq_mcq:active {
    outline: 1px solid white;
    transition: outline 0.2s, background-color 0.2s;
}

.scq_mcq:last-child {
    margin-bottom: 0px;
}

.scq_mcq_label {
    width: 40px;
    height: 40px;

    outline: 1px solid gray;
    border: none;
    border-radius: 100px;

    font-size: 20px;
    font-weight: bold;

    text-align: center;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;

    transition: outline 0.2s, background-color 0.2s, color 0.2s;
}

.scq_mcq_text {
    font-size: 16px;
    color: white;

    margin-right: 5px;

    transition: outline 0.2s, background-color 0.2s, color 0.2s;
}

.scq_mcq:disabled {
    outline: 1px solid #1f2937;
    background-color: rgba(33, 40, 54, 0.5);
    cursor: not-allowed;
    transition: outline 0.2s, background-color 0.2s, color 0.2s;
}

.scq_mcq:disabled .scq_mcq_text {
    color: #8e9299;
    transition: outline 0.2s, background-color 0.2s, color 0.2s;
}

.scq_mcq:disabled .scq_mcq_label {
    color: #8e9299;
    transition: outline 0.2s, background-color 0.2s, color 0.2s;
}

.scq_mcq.blue .scq_mcq_label {
    color: white !important;
    outline: 1px solid #3366ff;
    background-color: #3366ff;
    transition: outline 0.2s, background-color 0.2s, color 0.2s;
}

.scq_mcq.red .scq_mcq_label {
    color: white !important;
    outline: 1px solid #ff5050;
    background-color: #ff5050;
    transition: outline 0.2s, background-color 0.2s, color 0.2s;
}

.scq_mcq.green .scq_mcq_label {
    color: white !important;
    outline: 1px solid #33cc33;
    background-color: #33cc33;
    transition: outline 0.2s, background-color 0.2s, color 0.2s;
}

.scq_mcq.green .scq_mcq_text {
    color: white !important;
    transition: outline 0.2s, background-color 0.2s, color 0.2s;
}

.scq_mcq.green:disabled {
    outline: 1px solid white;
    transition: outline 0.2s, background-color 0.2s, color 0.2s;
}

.scq_mcq.greendashed .scq_mcq_label {
    color: white !important;
    outline: 1px dashed #33cc33;
    transition: outline 0.2s, background-color 0.2s, color 0.2s;
}

.scq_mcq.greendashed .scq_mcq_text {
    color: white !important;
    transition: outline 0.2s, background-color 0.2s, color 0.2s;
}


#scq_mcq_bottom_div {
    width: 100%;

    text-align: left;

    display: flex;
    align-items: center;
}

#scq_mcq_btn {
    width: 150px;
    height: 45px;

    border: none;
    border-radius: 10px;

    color: white;
    text-align: left;
    font-size: 16px;

    background-color: #3366ff;

    position: relative;
    padding-left: 10px;
}

#scq_mcq_btn_svg {
    width: 25px;
    height: 25px;
    color: white;

    position: absolute;
    top: 10px;
    right: 10px;
}

#scq_mcq_btn:disabled {
    cursor: not-allowed; 
    color:rgba(255, 255, 255, 0.5);
    background-color: rgba(50, 57, 70, 0.5);

    transition: background-color 0.2s;
}

#scq_mcq_btn:disabled #scq_mcq_btn_svg {
    color: rgba(255, 255, 255, 0.5);

    transition: background-color 0.2s;
}

#scq_mcq_btn:focus {
    background-color: #4c80ff;
    outline: none;

    transition: background-color 0.2s;
}

#scq_mcq_btn:hover {
    background-color: #4c80ff;
    outline: none;

    transition: background-color 0.2s;
}

#scq_mcq_btn:disabled:focus {
    background-color: rgba(50, 57, 70, 0.5);

    transition: background-color 0.2s;
}

#scq_mcq_btn:disabled:hover {
    background-color: rgba(50, 57, 70, 0.5);

    transition: background-color 0.2s;
}

#scq_mcq_feedback {
    margin-left: 20px;
    margin-top: 0px;
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */
/* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */
/* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */
/* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */
/* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */

#session_content_end_div {
    width: 600px;
    height: 250px;

    background-color: #111827;

    border: gray 1px solid;
    border-radius: 20px;

    text-align: left;
    padding: 20px;

    position: relative;

    /* display: block; */
    display: none;
}

#sce_title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0px;
}

#sce_placeholder {
    font-style: italic;
}

#sce_backtomm_btn {
    width: calc(100% - 40px);
    height: 40px;

    outline: 1px solid #3366ff;
    border: none;
    border-radius: 10px;
    background-color: #3366ff;

    color: white;
    font-size: 20px;

    position: absolute;
    bottom: 25px;

    transition: outline 0.2s, background-color 0.2s;
}

#sce_backtomm_btn:hover {
    outline: 1px solid #4c80ff;
    background-color: #4c80ff;
    transition: outline 0.2s, background-color 0.2s;
}

#sce_backtomm_btn:active {
    outline: 1px solid white;
    transition: outline 0.2s, background-color 0.2s;
}

#sce_backtomm_btn:disabled {
    background-color: #242B39;
    color: rgba(255, 255, 255, 0.5);
    cursor: not-allowed;

    transition: color 0.2s, background-color 0.2s;
}