body {
    margin: 0px;

    background-color: #1f2937;
    color: white;

    font-family: 'Inclusive Sans', sans-serif;
    font-display: block;
    text-align: center;
}

button {
    font-family: 'Inclusive Sans', sans-serif;
    font-display: block;
    cursor: pointer;
}

/* VERSION DIV */ /* VERSION DIV */ /* VERSION DIV */ /* VERSION DIV */ /* VERSION DIV */ /* VERSION DIV */ /* VERSION DIV */ /* VERSION DIV */
/* VERSION DIV */ /* VERSION DIV */ /* VERSION DIV */ /* VERSION DIV */ /* VERSION DIV */ /* VERSION DIV */ /* VERSION DIV */ /* VERSION DIV */
/* VERSION DIV */ /* VERSION DIV */ /* VERSION DIV */ /* VERSION DIV */ /* VERSION DIV */ /* VERSION DIV */ /* VERSION DIV */ /* VERSION DIV */
/* VERSION DIV */ /* VERSION DIV */ /* VERSION DIV */ /* VERSION DIV */ /* VERSION DIV */ /* VERSION DIV */ /* VERSION DIV */ /* VERSION DIV */
/* VERSION DIV */ /* VERSION DIV */ /* VERSION DIV */ /* VERSION DIV */ /* VERSION DIV */ /* VERSION DIV */ /* VERSION DIV */ /* VERSION DIV */

#vers_div {
    width: 100vw;
    height: 100vh;
    
    position: absolute;
    left: 0px;
    top: 0px;

    z-index: -1;
}

/* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */
/* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */
/* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */
/* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */
/* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */

#mainmenu_div {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mainmenu_logo {
    width: 600px;
    height: 350px;
    
    border: 2px solid white;
}

#mainmenu_subtitle {
    font-size: 26px;
}

#mainmenu_btn_div {
    margin-top: 50px;
}

.mainmenu_btn {
    width: 220px;
    height: 170px;
    margin-right: 30px;
    margin-top: 0px;
    
    background-color: #111827;

    border: none;
    outline: 0px solid white;
    border-radius: 20px;

    color: white;
    font-size: 20px;
    font-weight: bold;

    transition: background-color 0.2s, outline 0.2s;
}

.mainmenu_btn:hover {
    background-color:#212836;

    transition: background-color 0.2s, outline 0.2s;
}

.mainmenu_btn:active {
    outline: white 2px solid;

    transition: background-color 0.2s, outline 0.2s;
}

.mainmenu_btn:disabled {
    cursor: not-allowed;
    background-color: rgba(50, 57, 70, 0.5) !important;
    color: rgba(255, 255, 255, 0.5);
    outline: none;
    transition: background-color 0.2s, outline 0.2s;
}

.mainmenu_btn:disabled:hover {
    cursor: not-allowed;
    background-color: rgba(50, 57, 70, 0.5) !important;
    outline: none;
    transition: background-color 0.2s, outline 0.2s;
}

.mainmenu_btn:last-child {
    margin-right: 0px !important;
}

.mm_btn_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mm_svg {
    width: 90px;
    height: 90px;

    margin-bottom: 15px;
}

#mainmenu_btn_continue {
    background-color: #33cc33;
}

#mainmenu_btn_continue:hover {
    background-color: #55cc55;
}

#mainmenu_btn_new {
    background-color: #3366ff;
}

#mainmenu_btn_new:hover {
    background-color: #4c80ff;
}

#mainmenu_btn_settings {
    background-color: #9933ff
}

#mainmenu_btn_settings:hover {
    background-color: #9966ff;
}

#mainmenu_btn_about {
    background-color: #ff66ff;
}

#mainmenu_btn_about:hover {
    background-color: #ff99ff;
}

#mainmenu_btn_contribute {
    background-color: #ff5050;
}

#mainmenu_btn_contribute:hover {
    background-color: #ff6969;
}

/* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */
/* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */
/* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */
/* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */
/* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */ /* NEW SESSION MENU */

#mainmenu_newsession_wrapper {
    background-color: #00000044;

    position: fixed;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    border: none;

    z-index: 1002;
}

#mainmenu_newsession_div {
    width: 60vw;
    height: 80vh;

    background-color: #111827;

    border: gray 1px solid;
    border-radius: 20px;

    color: white;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;

    position: relative;
}

#mmns_title {
    font-size: 30px;
    font-weight: bold;
}

#mmns_subject_div {
    display: flex;
    align-items: center;
    margin-top: -20px;
}

#mmns_subject_text {
    font-size: 20px;
}

#mmns_subject_dropdown {
    margin-left: 10px;
    
    width: 300px;
    height: 40px;

    border: 1px solid gray;
    border-radius: 10px;
    background-color: #1f2937;
    color: white;
    padding-left: 10px;

    font-size: 16px;
}

#mmns_preset_div {
    display: flex;
    align-items: center;

    margin-top: -10px;
}

#mmns_preset_text {
    font-size: 20px;
}

#mmns_preset_dropdown {
    margin-left: 10px;

    width: 300px;
    height: 40px;

    border: 1px solid gray;
    border-radius: 10px;
    background-color: #1f2937;
    color: white;
    padding-left: 10px;

    font-size: 16px;
}

#mmns_preset_dropdown:disabled {
    color: gray;
}

#mmns_custom_div {
    color: gray;
}

#mmns_cancel_btn {
    width: 220px;
    height: 40px;

    border: none;
    border-radius: 10px;
    background-color: #ff5050;

    color: white;
    font-size: 20px;

    position: absolute;
    top: 20px;
    right: 20px;

    transition: background-color 0.2s;
}

#mmns_cancel_btn:hover {
    background-color: #ff6969;
    transition: background-color 0.2s;
}

#mmns_cancel_btn:disabled {
    background-color: #ff6969;
    transition: background-color 0.2s;
}

#mmns_cancel_btn:disabled {
    cursor: not-allowed;
    background-color: rgba(50, 57, 70, 0.5);
    color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.2s;
}

#mmns_create_btn {
    width: 220px;
    height: 40px;

    border: none;
    border-radius: 10px;
    background-color: #3366ff;

    color: white;
    font-size: 20px;

    position: absolute;
    top: 70px;
    right: 20px;

    transition: background-color 0.2s;
}

#mmns_create_btn:hover {
    background-color: #4c80ff;
    transition: background-color 0.2s;
}

#mmns_create_btn:disabled {
    cursor: not-allowed;
    background-color: rgba(50, 57, 70, 0.5);
    color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.2s;
}

/* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */
/* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */
/* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */
/* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */
/* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */

#session_div {
    width: 100vw;
    height: 100vh;

    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#session_content_div {
    width: 100vw;

    display: flex;
    justify-content: center;
}

#session_content_question_div {
    width: 600px;

    background-color: #111827;

    border: gray 1px solid;
    border-radius: 20px;

    text-align: left;
    padding: 40px;

    position: relative;
}

#scq_qnum {
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
}

#scq_qtype {
    color: gray;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}

#scq_qspacer {
    height: 20px;
    width: 0px;
}

#scq_qdesc {
    color: white;
    font-size: 16px;
    margin-top: 30px;
}

.scq_feedback {
    display: flex;
    align-items: center;
    font-size: 16px;

    height: 25px;

    margin-top: 10px;
}

.scq_feedback_svg {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.scq_feedback.correct {
    color: #33cc33;
}

.scq_feedback.skipped {
    color: #4c80ff;
}

.scq_feedback.incorrect {
    color: #c10000;
}

.scq_submit_btn {
    width: 45px;
    height: 45px;

    position: absolute;
    top: 0px;
    right: 0px;

    border: none;
    border-radius: 10px;

    background-color: #3366ff;

    transition: background-color 0.2s;
}

.scq_submit_btn_svg {
    width: 25px;
    height: 25px;
    color: white;

    transition: background-color 0.2s;
}

.scq_submit_btn:disabled {
    cursor: not-allowed; 
    color:rgba(255, 255, 255, 0.5);
    background-color: rgba(50, 57, 70, 0.5);

    transition: background-color 0.2s;
}

.scq_submit_btn:disabled .scq_submit_btn_svg {
    color: rgba(255, 255, 255, 0.5);

    transition: color 0.2s, background-color 0.2s;
}

.scq_submit_btn:focus {
    background-color: #4c80ff;
    outline: none;

    transition: background-color 0.2s;
}

.scq_submit_btn:hover {
    background-color: #4c80ff;
    outline: none;

    transition: background-color 0.2s;
}

.scq_submit_btn:disabled:focus {
    background-color: rgba(50, 57, 70, 0.5);

    transition: background-color 0.2s;
}

.scq_submit_btn:disabled:hover {
    background-color: rgba(50, 57, 70, 0.5);

    transition: background-color 0.2s;
}

#scq_skip_btn {
    width: 50px;
    height: 50px;

    position: absolute;
    top: 10px;
    right: 10px;

    border: none;
    border-radius: 10px;

    background-color: #111827;

    transition: color 0.2s, background-color 0.2s;
}

#scq_skip_btn:hover {
    background-color: #373e4b;

    transition: color 0.2s, background-color 0.2s;
}

#scq_skip_btn:disabled {
    background-color: #242B39;
    cursor: not-allowed;

    transition: color 0.2s, background-color 0.2s;
}

#scq_skip_btn_svg {
    width: 35px;
    height: 35px;
    color: white;

    transition: color 0.2s, background-color 0.2s;
}

#scq_skip_btn:disabled #scq_skip_btn_svg {
    color: rgba(255, 255, 255, 0.5);

    transition: color 0.2s, background-color 0.2s;
}

/* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */
/* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */
/* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */
/* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */
/* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */ /* SHORT-ANSWER */

#scq_sa_div {
    width: 100%;
    height: 90px;

    position: relative;
}

#scq_sa_input {
    width: calc(100% - 60px);
    height: 45px;
    box-sizing: border-box;

    outline: 1px solid gray;
    border: none;
    border-radius: 10px;

    background-color: #1f2937;

    color: white;
    font-family: 'Inclusive Sans', sans-serif;
    font-display: block;
    font-size: 16px;

    padding-left: 10px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;

    position: absolute;
    top: 0px;
    left: 0px;

    transition: outline 0.2s;
}

#scq_sa_input:focus {
    outline: 1px solid white;
    box-shadow: none;

    padding-left: 10px;
    transition: outline 0.2s;
}

#scq_sa_input:disabled {
    background-color: #212836;
    color: #8e9299;
    cursor: not-allowed;
}

#scq_sa_input.correct {
    outline: 2px solid #33cc33;
    transition: outline 0.2s;
}

#scq_sa_input.incorrect {
    outline: 2px solid #c10000;
    transition: outline 0.2s;
}

#scq_sa_input.skipped {
    outline: 2px solid #3366ff;
    transition: outline 0.2s;
}

#scq_sa_feedback {
    position: absolute;
    top: 45px;
}

/* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */
/* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */
/* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */
/* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */
/* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */ /* MULTIPLE-CHOICE */

#scq_mcq_div {
    width: 100%;

    position: relative;
}

#scq_mcq_options {
    margin-bottom: 10px;
}

.scq_mcq {
    width: 100%;

    box-sizing: border-box;

    outline: 1px solid gray;
    border: none;
    border-radius: 10px;

    background-color: #1f2937;

    color: white;
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 16px;

    text-align: left;

    display: flex;
    align-items: center;

    margin-bottom: 10px;

    transition: outline 0.2s, background-color 0.2s;
}

.scq_mcq:hover {
    background-color: #373e4b;
    transition: outline 0.2s, background-color 0.2s;
}

.scq_mcq:active {
    outline: 1px solid white;
    transition: outline 0.2s, background-color 0.2s;
}

.scq_mcq:last-child {
    margin-bottom: 0px;
}

.scq_mcq_label {
    width: 40px;
    height: 40px;

    outline: 1px solid gray;
    border: none;
    border-radius: 100px;

    font-size: 20px;
    font-weight: bold;

    text-align: center;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;

    transition: outline 0.2s, background-color 0.2s, color 0.2s;
}

.scq_mcq_text {
    font-size: 16px;
    color: white;

    margin-right: 5px;

    transition: outline 0.2s, background-color 0.2s, color 0.2s;
}

.scq_mcq:disabled {
    outline: 1px solid #1f2937;
    background-color: rgba(33, 40, 54, 0.5);
    cursor: not-allowed;
    transition: outline 0.2s, background-color 0.2s, color 0.2s;
}

.scq_mcq:disabled .scq_mcq_text {
    color: #8e9299;
    transition: outline 0.2s, background-color 0.2s, color 0.2s;
}

.scq_mcq:disabled .scq_mcq_label {
    color: #8e9299;
    transition: outline 0.2s, background-color 0.2s, color 0.2s;
}

.scq_mcq.blue .scq_mcq_label {
    color: white !important;
    outline: 1px solid #3366ff;
    background-color: #3366ff;
    transition: outline 0.2s, background-color 0.2s, color 0.2s;
}

.scq_mcq.red .scq_mcq_label {
    color: white !important;
    outline: 1px solid #ff5050;
    background-color: #ff5050;
    transition: outline 0.2s, background-color 0.2s, color 0.2s;
}

.scq_mcq.green .scq_mcq_label {
    color: white !important;
    outline: 1px solid #33cc33;
    background-color: #33cc33;
    transition: outline 0.2s, background-color 0.2s, color 0.2s;
}

.scq_mcq.green .scq_mcq_text {
    color: white !important;
    transition: outline 0.2s, background-color 0.2s, color 0.2s;
}

.scq_mcq.green:disabled {
    outline: 1px solid white;
    transition: outline 0.2s, background-color 0.2s, color 0.2s;
}

.scq_mcq.greendashed .scq_mcq_label {
    color: white !important;
    outline: 1px dashed #33cc33;
    transition: outline 0.2s, background-color 0.2s, color 0.2s;
}

.scq_mcq.greendashed .scq_mcq_text {
    color: white !important;
    transition: outline 0.2s, background-color 0.2s, color 0.2s;
}


#scq_mcq_bottom_div {
    width: 100%;

    text-align: left;

    display: flex;
    align-items: center;
}

#scq_mcq_btn {
    width: 150px;
    height: 45px;

    border: none;
    border-radius: 10px;

    color: white;
    text-align: left;
    font-size: 16px;

    background-color: #3366ff;

    position: relative;
    padding-left: 10px;
}

#scq_mcq_btn_svg {
    width: 25px;
    height: 25px;
    color: white;

    position: absolute;
    top: 10px;
    right: 10px;
}

#scq_mcq_btn:disabled {
    cursor: not-allowed; 
    color:rgba(255, 255, 255, 0.5);
    background-color: rgba(50, 57, 70, 0.5);

    transition: background-color 0.2s;
}

#scq_mcq_btn:disabled #scq_mcq_btn_svg {
    color: rgba(255, 255, 255, 0.5);

    transition: background-color 0.2s;
}

#scq_mcq_btn:focus {
    background-color: #4c80ff;
    outline: none;

    transition: background-color 0.2s;
}

#scq_mcq_btn:hover {
    background-color: #4c80ff;
    outline: none;

    transition: background-color 0.2s;
}

#scq_mcq_btn:disabled:focus {
    background-color: rgba(50, 57, 70, 0.5);

    transition: background-color 0.2s;
}

#scq_mcq_btn:disabled:hover {
    background-color: rgba(50, 57, 70, 0.5);

    transition: background-color 0.2s;
}

#scq_mcq_feedback {
    margin-left: 20px;
    margin-top: 0px;
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */
/* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */
/* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */
/* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */
/* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */ /* SESSION END */

#session_content_end_div {
    width: 600px;
    height: 250px;

    background-color: #111827;

    border: gray 1px solid;
    border-radius: 20px;

    text-align: left;
    padding: 20px;

    position: relative;

    /* display: block; */
    display: none;
}

#sce_title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0px;
}

#sce_placeholder {
    font-style: italic;
}

#sce_backtomm_btn {
    width: calc(100% - 40px);
    height: 40px;

    outline: 1px solid #3366ff;
    border: none;
    border-radius: 10px;
    background-color: #3366ff;

    color: white;
    font-size: 20px;

    position: absolute;
    bottom: 25px;

    transition: outline 0.2s, background-color 0.2s;
}

#sce_backtomm_btn:hover {
    outline: 1px solid #4c80ff;
    background-color: #4c80ff;
    transition: outline 0.2s, background-color 0.2s;
}

#sce_backtomm_btn:active {
    outline: 1px solid white;
    transition: outline 0.2s, background-color 0.2s;
}

#sce_backtomm_btn:disabled {
    background-color: #242B39;
    color: rgba(255, 255, 255, 0.5);
    cursor: not-allowed;

    transition: color 0.2s, background-color 0.2s;
}