body {
    margin: 0px;

    background-color: #1f2937;
    color: white;

    font-family: 'Inclusive Sans', sans-serif;
    font-display: block;
    text-align: center;
}

button {
    font-family: 'Inclusive Sans', sans-serif;
    font-display: block;
    cursor: pointer;
}

/* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */
/* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */
/* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */
/* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */
/* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */ /* MAIN MENU */

#mainmenu_div {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mainmenu_logo {
    width: 450px;
    height: 300px;
    
    border: 2px solid white;
}

#mainmenu_subtitle {
    font-size: 20px;
}

#mainmenu_btn_div {
    margin-top: 50px;
}

.mainmenu_btn {
    width: 250px;
    height: 200px;
    margin-right: 30px;

    background-color: #111827;

    border: gray 1px solid;
    border-radius: 20px;

    color: white;

    transition: background-color 0.2s, border 0.2s;
}

.mainmenu_btn:hover {
    background-color: #373e4b;

    transition: background-color 0.2s, border 0.2s;
}

.mainmenu_btn:active {
    border: white 2px solid;

    transition: background-color 0.2s, border 0.2s;
}

.mainmenu_btn:disabled {
    cursor: not-allowed;
    background-color: rgba(50, 57, 70, 0.5);
    border: none;
    transition: background-color 0.2s, border 0.2s;
}

.mainmenu_btn:disabled:hover {
    cursor: not-allowed;
    background-color: rgba(50, 57, 70, 0.5);
    border: none;
    transition: background-color 0.2s, border 0.2s;
}

.mainmenu_btn:disabled:active {
    cursor: not-allowed;
    background-color: rgba(50, 57, 70, 0.5);
    border: none;
    transition: background-color 0.2s, border 0.2s;
}

.mainmenu_btn:last-child {
    margin-right: 0px !important;
}

#mainmenu_newsession_wrapper {
    background-color: #00000044;

    position: fixed;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    border: none;

    z-index: 1002;
}

#mainmenu_newsession_div {
    width: 60vw;
    height: 80vh;

    background-color: #111827;

    border: gray 1px solid;
    border-radius: 20px;

    color: white;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;

    overflow: scroll;

    position: relative;
}

#mmns_title {
    font-size: 30px;
    font-weight: bold;
}

#mmns_topic_div {
    display: flex;
    align-items: center;
    margin-top: -20px;
}

#mmns_topic_text {
    font-size: 20px;
}

#mmns_topic_dropdown {
    margin-left: 10px;
    
    width: 300px;
    height: 40px;

    border: 1px solid gray;
    border-radius: 10px;
    background-color: #1f2937;
    color: white;
    padding-left: 10px;

    font-size: 16px;
}

#mmns_preset_div {
    display: flex;
    align-items: center;

    margin-top: -10px;
}

#mmns_preset_text {
    font-size: 20px;
}

#mmns_preset_dropdown {
    margin-left: 10px;

    width: 300px;
    height: 40px;

    border: 1px solid gray;
    border-radius: 10px;
    background-color: #1f2937;
    color: white;
    padding-left: 10px;

    font-size: 16px;
}

#mmns_preset_dropdown:disabled {
    color: gray;
}

#mmns_custom_div {
    color: gray;
}

#mmns_cancel_btn {
    width: 220px;
    height: 40px;

    border: none;
    border-radius: 10px;
    background-color: #ff5050;

    color: white;
    font-size: 20px;

    position: absolute;
    top: 20px;
    right: 20px;

    transition: background-color 0.2s;
}

#mmns_cancel_btn:hover {
    background-color: #ff6969;
    transition: background-color 0.2s;
}

#mmns_cancel_btn:disabled {
    background-color: #ff6969;
    transition: background-color 0.2s;
}

#mmns_cancel_btn:disabled {
    cursor: not-allowed;
    background-color: rgba(50, 57, 70, 0.5);
    color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.2s;
}

#mmns_create_btn {
    width: 220px;
    height: 40px;

    border: none;
    border-radius: 10px;
    background-color: #3366ff;

    color: white;
    font-size: 20px;

    position: absolute;
    top: 70px;
    right: 20px;

    transition: background-color 0.2s;
}

#mmns_create_btn:hover {
    background-color: #4c80ff;
    transition: background-color 0.2s;
}

#mmns_create_btn:disabled {
    cursor: not-allowed;
    background-color: rgba(50, 57, 70, 0.5);
    color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.2s;
}

/* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */
/* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */
/* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */
/* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */
/* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */ /* TRIVIA SESSIONS */

#session_div {
    width: 100vw;
    height: 100vh;

    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#session_content_div {
    width: 100vw;

    display: flex;
    justify-content: center;
}

#session_content_question_div {
    width: 600px;

    background-color: #111827;

    border: gray 1px solid;
    border-radius: 20px;

    text-align: left;
    padding: 40px;
}

#scq_qnum {
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
}

#scq_qtype {
    color: gray;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}

#scq_qspacer {
    height: 20px;
    width: 0px;
}

#scq_qdesc {
    color: white;
    font-size: 16px;
    margin-top: 30px;
}

#scq_sa_div {
    width: 100%;
    height: 90px;

    position: relative;
}

#scq_sa_input {
    width: calc(100% - 60px);
    height: 45px;
    box-sizing: border-box;

    border: 1px solid gray;
    border-radius: 10px;

    background-color: #1f2937;

    color: white;
    font-family: 'Inclusive Sans', sans-serif;
    font-display: block;
    font-size: 16px;

    padding-left: 10px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;

    position: absolute;
    top: 0px;
    left: 0px;

    transition: border 0.2s;
}

#scq_sa_input:focus {
    border: 1px solid white;
    outline: none;
    box-shadow: none;

    padding-left: 10px;
    transition: border 0.2s;
}

#scq_sa_input:disabled {
    background-color: #212836;
    color: #8e9299;
    cursor: not-allowed;
}

#scq_sa_input.correct {
    border: 2px solid #33cc33;
    transition: border 0.2s;
}

#scq_sa_input.skipped {
    border: 2px solid #3366ff;
    transition: border 0.2s;
}

#scq_sa_input.incorrect {
    border: 2px solid #c10000;
    transition: border 0.2s;
}

#scq_sa_btn {
    width: 45px;
    height: 45px;

    position: absolute;
    top: 0px;
    right: 0px;

    border: none;
    border-radius: 10px;

    background-color: #3366ff;

    transition: background-color 0.2s;
}

#scq_sa_btn_svg {
    width: 25px;
    height: 25px;
    color: white;

    transition: background-color 0.2s;
}

#scq_sa_btn:disabled {
    cursor: not-allowed; 
    background-color: rgba(50, 57, 70, 0.5);

    transition: background-color 0.2s;
}

#scq_sa_btn:disabled #scq_sa_btn_svg {
    color: rgba(255, 255, 255, 0.5);

    transition: background-color 0.2s;
}

#scq_sa_btn:focus {
    background-color: #4c80ff;
    outline: none;

    transition: background-color 0.2s;
}

#scq_sa_btn:hover {
    background-color: #4c80ff;
    outline: none;

    transition: background-color 0.2s;
}

#scq_sa_btn:disabled:focus {
    background-color: rgba(50, 57, 70, 0.5);

    transition: background-color 0.2s;
}

#scq_sa_btn:disabled:hover {
    background-color: rgba(50, 57, 70, 0.5);

    transition: background-color 0.2s;
}


#scq_mcq_div {
    width: 100%;

    position: relative;
}

.scq_mcq {
    width: 100%;

    box-sizing: border-box;

    border: 1px solid gray;
    border-radius: 10px;

    background-color: #1f2937;

    color: white;
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 16px;

    text-align: left;

    display: flex;
    align-items: center;

    margin-bottom: 10px;

    transition: border 0.2s, background-color 0.2s;
}

.scq_mcq:hover {
    background-color: #373e4b;
    transition: border 0.2s, background-color 0.2s;
}

.scq_mcq:active {
    border: 1px solid white;
    transition: border 0.2s, background-color 0.2s;
}

.scq_mcq:last-child {
    margin-bottom: 0px;
}

.scq_mcq_label {
    width: 40px;
    height: 40px;

    border: 1px solid gray;
    border-radius: 100px;

    font-size: 20px;

    text-align: center;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}

.scq_mcq_text {
    font-size: 16px;
    color: white;

    margin-right: 5px;
}

#scq_mcq_bottom_div {
    width: 100%;

    text-align: left;

    display: flex;
    align-items: center;
}

#scq_mcq_btn {
    width: 150px;
    height: 45px;

    border: none;
    border-radius: 10px;

    color: white;
    text-align: left;
    font-size: 16px;

    background-color: #3366ff;

    position: relative;
    padding-left: 10px;
}

#scq_mcq_btn_svg {
    width: 25px;
    height: 25px;
    color: white;

    position: absolute;
    top: 10px;
    right: 10px;
}

.scq_feedback {
    display: flex;
    align-items: center;
    font-size: 16px;

    height: 25px;

    margin-top: 10px;
}

#scq_sa_feedback {
    position: absolute;
    top: 45px;
}

#scq_mcq_feedback {
    margin-left: 20px;
}

.scq_feedback_svg {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.scq_feedback.correct {
    color: #33cc33;
}

.scq_feedback.incorrect {
    color: #c10000;
}